@font-face
  font-family: Vazir
  src: url('../lib/vazir-font/Vazir.eot')
  src: url('../lib/vazir-font/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir.woff') format('woff'),
       url('../lib/vazir-font/Vazir.ttf') format('truetype')
  font-weight: normal

@font-face
  font-family: Vazir
  src: url('../lib/vazir-font/Vazir-Bold.eot')
  src: url('../lib/vazir-font/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir-Bold.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir-Bold.woff') format('woff'),
       url('../lib/vazir-font/Vazir-Bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: Vazir
  src: url('../lib/vazir-font/Vazir-Light.eot')
  src: url('../lib/vazir-font/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir-Light.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir-Light.woff') format('woff'),
       url('../lib/vazir-font/Vazir-Light.ttf') format('truetype')
  font-weight: 300

.rtl
  font-family: Vazir, sans-serif
  direction: rtl

  #nav
    li
      margin-right: 0px !important // @stylint ignore
      padding-left: 15px
      border-right: 0px !important // @stylint ignore
      border-left: 1px dotted

    li:last-child
      margin-right: 15px !important // @stylint ignore
      border-left: 0 !important // @stylint ignore

  #header
    #logo
      float: right
      margin-right: 0
      margin-left: 20px

  #footer
    li
      margin-right: 0px
      padding-left: 15px
      border-right: 0px
      border-left: 1px dotted

    li:last-child
      margin-right: 15px !important // @stylint ignore
      border-left: 0 !important // @stylint ignore

    #logo
      float: right

  article
    .content
      h2:before
        right: -1rem

  .post-list
    .post-item
      .meta
        margin-left: 16px
        margin-right: inherit
        
@media screen and (min-width: 480px)
  .rtl
    .post-list
      .post-item
        .meta
          text-align: left
 
@media screen and (max-width: 480px)
  .rtl
    #header
      #title
        margin-left: 5rem
        margin-right: 0

      #nav
        ul
          li
            left: 1rem
            right: auto
            border: 0