<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="base-max-width mx-auto px3 ltr">
  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
</body>

<link rel="stylesheet" href={{ "lib/font-awesome/css/all.min.css" | relURL }}>
<script src={{ "lib/jquery/jquery.min.js" | relURL }}></script>

{{- $mainJS := resources.Get "main.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $mainJS.RelPermalink }}"></script>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

</html>
