<footer id="footer">
  <div class="footer-left">
    <p class="copyright" style="float: left;margin-bottom: 0;">
      <a href="https://github.com/halfrost/Halfrost-Field" class="github-repo" style="height:18px;"><span class="gadget-github"></span>Star</a>
      Copyright &copy;halfrost 2016 - 2021
      <a href="http://www.miit.gov.cn/">  鄂ICP备16014744号</a>
    </p>
    <br>
    <p class="copyright statistics" style="margin-bottom: 20px;">
        <span id="busuanzi_container_site_pv">Cumulative Page Views <span id="busuanzi_value_site_pv"></span> | Unique Visitors <span id="busuanzi_value_site_uv"></span></span>
    </p>
  </div>
</footer>